<configuration>

    <contextName>MyLearnLog</contextName>

    <!--
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    -->

    <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.yutian.MySimpleLayout"/>
        </encoder>
    </appender>


    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>